section.company 
    .container 
        img(src="assets/images/company.jpg", alt="")
        p Предприятие основано в 2005  г., <br>осуществляет полный цикл обработки древесины: от принудительной сушки пиломатериалов в собственных сушильных камерах до изготовления готовой продукции.
