section.contacts 
    .container 
        h2 Как нас найти?
        .blocks 
            .block.storage 
                h3 Склад:
                p г. Нижний Новгород ул. Кузбасская д. 17В рынок "Самострой" павильон 74
            .block.production 
                h3 Столярное производство:
                p Нижегородская обл. Ветлужский р-он. р.п.им. М.И. Калинина ул. Ленина д. 29
            .block.phone
                a(href="tel:89030558377") 8 (903) 055-83-77
            .block.mail 
                a(href="mailto:dverioptomnn@gmail.com") dverioptomnn@gmail.com  