section.cooperation 
    .container 
        .descr 
            h2 Приглашаем организации к сотрудничеству
            p Готовы предложить специальные условия сотрудничества крупным оптовым покупателям и фирмам с малым объемом закупок. Оптовые отгрузки осуществляются как с производства, так и с нашего склада в Нижнем Новгороде. Осуществляем доставку в другие регионы.
            p Мы настроены на продуктивную и долгосрочную работу.
            .btn Запросы на оптовый прайс
        img(src="assets/images/cooperation.png", alt="")