section.description 
    .container 
        p Помимо товаров собственного производства мы реализуем продукцию компаний партнеров, имея эксклюзивное дилерство мы способны предложить одну из лучших цен на рынке на товары наших партнеров.
        .btn Перейти в каталог