footer 
    .container 
        .left
            a.logo(href="")
                img(src="assets/images/logo.png", alt="")
            .descr 
                p Российский производитель <br> дверей и окон из 100% массива хвои.
                span Оптом и в розницу
        .right 
            p Copyright 2022. Все права защищены
            p Разработка сайта: 
                a(href="https://salut-promo.ru/") SalutPromo 