header 
    .container 
        a.logo(href="")
            img(src="assets/images/logo.png", alt="")
        .descr 
            p Российский производитель <br> дверей и окон из 100% массива хвои.
            span Оптом и в розницу
        .btn Обратная связь
        a.phone(href="tel:89030558377") 8 (903) 055-83-77 