section.our-products 
    .container 
        h2 Наша продукция:
        .btn__switch__wrapper
            button.btn__tab__switch(target="1").active Филенчатая межкомнатная дверь
            button.btn__tab__switch(target="2") Банная дверь на клиньях
            button.btn__tab__switch(target="3") Окно для бани
            button.btn__tab__switch(target="4") Окна для дачных построек
        .tab__viewer
            .tab.active(tab-name="1")
                img(src="assets/images/door.jpg", alt="")
                .left-descr 
                    p.thickness Толщина полотна 40 мм
                    p.spruce-or-pine 100% массив ели или сосны
                    p.painting Шлифованные под покраску
                .right-descr 
                    p.strapping Конструкция обвязки: шип 5мм. + шканты
                    p.humidity Влажность древесины 8%
                    p.material Качественное сырье и материалы: северный лес зимней заготовки, прочный клей ПВА, тонкодисперсионная шпаклевка
            .tab(tab-name="2")
                img(src="assets/images/door.jpg", alt="")
                .left-descr 
                    p.thickness Толщина полотна 40 мм
                    p.spruce-or-pine 100% массив ели или сосны
                    p.painting Шлифованные под покраску
                .right-descr 
                    p.strapping Конструкция обвязки: шип 5мм. + шканты
                    p.humidity Влажность древесины 8%
                    p.material Качественное сырье и материалы: северный лес зимней заготовки, прочный клей ПВА, тонкодисперсионная шпаклевка
            .tab(tab-name="3")
                img(src="assets/images/door.jpg", alt="")
                .left-descr 
                    p.thickness Толщина полотна 40 мм
                    p.spruce-or-pine 100% массив ели или сосны
                    p.painting Шлифованные под покраску
                .right-descr 
                    p.strapping Конструкция обвязки: шип 5мм. + шканты
                    p.humidity Влажность древесины 8%
                    p.material Качественное сырье и материалы: северный лес зимней заготовки, прочный клей ПВА, тонкодисперсионная шпаклевка
            .tab(tab-name="4")
                img(src="assets/images/door.jpg", alt="")
                .left-descr 
                    p.thickness Толщина полотна 40 мм
                    p.spruce-or-pine 100% массив ели или сосны
                    p.painting Шлифованные под покраску
                .right-descr 
                    p.strapping Конструкция обвязки: шип 5мм. + шканты
                    p.humidity Влажность древесины 8%
                    p.material Качественное сырье и материалы: северный лес зимней заготовки, прочный клей ПВА, тонкодисперсионная шпаклевка
        .btns
            .btn Перейти в каталог 
            p *изготовим под ваш размер и рисунок