@media(max-width: 1440px){
    .top-block{
        background-position-x: -350px;
    }
}

@media(max-width: 1200px)
{
    .container
    {
        max-width: 1024px;
    }

    .our-products{
        .tab__viewer{
            .tab.active{
                .left-descr{
                    .thickness{
                        top: -260px;
                        left: 0;
                    }

                    .spruce-or-pine{
                        left: 0;
                    }

                    .painting{
                        bottom: -200px;
                        left: 0;
                    }
                }

                .right-descr{
                    .strapping, .humidity, .material{
                        right: 0;
                    }
                }
            }

            .tab.bath-window, .window-construction{
                img{
                    width: 400px;
                }

                .left-descr{
                    .connection{
                        top: -200px;
                        left: 0px;
                    }

                    .spruce-or-pine{
                        left: -20px;
                        top: -20px;
                    }

                    .polished{
                        left: -30px;
                        bottom: -130px;
                    }

                    .frame{
                        left: 0px;
                    }
                }

                .right-descr{
                    .drying{
                        top: -140px;
                        right: 0;
                    }

                    .sash{
                        right: 0;
                    }
                }
            }
        }
    }

    .company{
        img{
            width: 50%;
            height: auto;
        }

        p{
            width: 50%;
        }
    }

    .contacts{
        .blocks{
            .block{
                width: 50%;
            }

            .phone, .mail{
                margin-top: 30px;
            }
        }
    }
}

@media(max-width: 1024px)
{
    .container
    {
        max-width: 992px;
    }

    header .descr p{
        width: 300px;
    }

    .top-block{
        background-position-x: -450px;
    }

    .our-products{
        .tab__viewer{
            .tab.active{
                .left-descr{
                    .thickness{
                        top: -240px;
                    }
                }
            }
        }
    }
}

@media(max-width: 992px)
{
    .container
    {
        max-width: 768px;
    }

    header{
        .container{
            justify-content: space-around;
        }

        .logo{
            margin-bottom: 10px;
        }

        .descr, .phone{
            width: 50%;
        }

        .descr{
            p{
                width: 100%;
            }
        }
    }

    .top-block{
        background-position-x: -350px;
    }

    .our-products{
        .btn__switch__wrapper{
            flex-wrap: wrap;
            justify-content: center;

            .btn__tab__switch{
                margin: 5px;
            }
        }

        .tab__viewer{
            .tab{
                flex-direction: column;
                flex-wrap: wrap;

                img{
                    width: auto;
                    height: 500px;
                }

                .left-descr{
                    position: initial;
                    width: 100%;
                    margin-top: 20px;

                    p{
                        position: initial;
                        margin-bottom: 10px;
                    }

                    .thickness::before, .spruce-or-pine::before, .painting::before, .connection::before, .polished::before, .frame::before{
                        content: none;
                    }

                    .thickness, .spruce-or-pine, .painting, .connection, .polished, .frame{
                        width: 100%;
                    }
                }

                .right-descr{
                    position: initial;
                    width: 100%;

                    p{
                        position: initial;
                        margin-bottom: 10px;
                    }

                    .strapping::before, .humidity::before, .material::before, .drying::before, .sash::before{
                        content: none;
                    }

                    .strapping, .humidity, .material, .drying, .sash{
                        width: 100%;
                        text-align: left;
                    }
                }
            }

            .window-construction{
                .left-descr{
                    .connection{
                        width: 100%;
                    }
                }
            }
        }
    }

    .description{
        p{
            padding: 0 100px;
        }
    }

    .contacts{
        .blocks{
            .block{
                width: 45%;
            }
        }
    }

    footer{
        .left, .right{
            width: 100%;
            justify-content: space-between;

            .logo{
                margin-bottom: 10px;
            }
        }

        .right{
            flex-direction: row;

            .develop{
                margin: 0;
            }
        }
    }
}

@media(max-width: 768px)
{
    .container
    {
        max-width: 576px;
    }

    header{
        .container{
            justify-content: space-around;
        }

        .descr{
            align-items: center;

            p{
                text-align: center;
            }
        }
    }

    .top-block{
        background-position-x: -500px;
        background-color: rgba(255, 255, 255, 0.5);
        background-blend-mode: color;
    }

    .our-products{
        .btns{
            flex-direction: column;

            p{
                margin-top: 15px;
                margin-left: 0;
            }
        }
    }

    .cooperation{
        .descr{
            padding-bottom: 30px;
        }

        img{
            width: 45%;
            height: fit-content;
            margin-top: auto;
        }
    }

    .description{
        p{
            padding: 0;
        }
    }

    .company{
        .container{
            flex-direction: column;
        }

        img, p{
            width: 100%;
        }

        p{
            padding: 0;
        }
    }

    .contacts{
        .blocks{
            .block{
                width: 100%;
                margin-top: 30px;
            }

            .block:first-child{
                margin-top: 0;
            }
        }
    }
}

@media(max-width: 576px)
{
    .container
    {
        max-width: 100%;
    }

    header{
        .phone{
            width: fit-content;
            margin-top: 20px;
        }

        .btn{
            margin-top: 20px;
        }
    }

    .top-block{
        background-position-x: center;

        h1{
            font-size: 28px;

            span{
                font-size: 24px;
            }
        }
    }

    .our-products{
        .btn__switch__wrapper{
            flex-direction: column;
            margin-top: 30px;

            .btn__tab__switch{
                margin-top: 10px;
            }
        }

        .tab__viewer{
            .tab.active{
                .left-descr{
                    text-align: center;
                }

                .right-descr{
                    .strapping, .humidity, .material, .drying, .sash{
                        text-align: center;
                    }
                }
            }

            .tab.bath-window, .window-construction{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }

        .btns{
            margin-top: 10px;
        }
    }

    .cooperation{
        .container{
            flex-direction: column;
        }

        .descr{
            width: 100%;

            .btn{
                width: 100%;
                font-size: 16px;
            }
        }

        img{
            margin-top: 20px;
            width: 100%;
        }
    }

    .description{
        .btn{
            width: 100%;
        }
    }

    .company{
        padding: 30px 0;
        
        p{
            text-align: center;
        }
    }

    .contacts{
        h2{
            margin-left: 0;
            text-align: center;
        }
    }

    footer{
        .container{
            flex-direction: column;
        }

        .left, .right{
            flex-direction: column;
        }

        .left{
            .descr{
                margin-left: 0;

                p{
                    width: 100%;
                }
            }
        }
    }
}